.section1{width: 50%;
  height: 100vh;

display: inline-block;
}

.section2{width:50%;
  height:710px;
display: inline-block;

}

body{
  margin: 0px;
display: flex;
}

.box1{
  border-radius: 30% 70% 75% 25% / 63% 67% 33% 37%;
  width: 226px;
  height: 217px;
  background-color: green;
  display: flex;
  margin-top: 200px;
  margin-left: 210px;
  position: absolute;
  justify-content: center;
}

.picture{
  width: 800px;
  height: 600px;
  display: flex;
}

.image{

  width: 266px;
  height: 292px;
  position: relative;
  margin-top: 15px;


}
.image img{
  width: 200px;
  height: 210px;
}

.box2{     
  justify-content: center;
  margin-top: 190px;
  border-radius: 47% 53% 39% 61% / 68% 39% 61% 32%;
  width: 100px;
  height: 70px;
  background-color: gold;
  margin-left: 175px;
  display: flex;
}

.image2{

  width: 266px;
  height: 292px;
  position: relative;
  margin-top: 15px;


}
.image2 img{
width:105px;
height:95px;}

.box3{       
  justify-content: center;
  border-radius: 30% 70% 46% 54% / 53% 26% 74% 47%;
  width: 180px;
  height: 159px;
  background-color: gold;
  /* margin-left: 374px; */
  display: flex;
  margin-top: 327px;
  margin-left: -113px;
}
.image3{
  width: 266px;
  height: 292px;
  position: relative;
  margin-top: 9px;
  margin-left: 21px;

}

.image3 img{
  width: 169px;
  height: 143px;
}

.box4{       
  justify-content: center;
  border-radius: 30% 70% 46% 54% / 53% 26% 74% 47%;
  width: 190px;
  height: 150px;
  background-color: gold;
  display: flex;
  margin-left: 246px;
  margin-top: -150px;}
.image4{
  width: 266px;
  height: 292px;
  position: relative;
  margin-top: 9px;
  margin-left: 7px;

}

.image4 img{
  width: 169px;
  height: 156px;
}
.logo{    height: 100px;
  width: 200px;
  margin-left: 100px;
}

.logo img{
  height: 73px;
  width: 208px;
  margin-top: 64px;
  margin-left: 42px;
}

  .button-box{
      margin-top: 98px;
      display: flex;
      justify-content: flex-end;
      position: relative;
      font-family: sans-serif;
      
    }

      #box{
          padding: 13px;
  width: 242px;
  border-radius: 50px -3px 50px 50px;
  border: 1px solid #67636347;
  border-radius: 50px 0px 0px 50px;
  font-size: 1em;
  box-shadow: -2px 1px 9px 3px #80808040;
  margin-right: -30px;
  
}

          button{
              width: 146px;
              border-radius: 50px;
              margin-left: -13px;
              background-color: gold;
              border: 1px solid gold;
              font-size: 1em;
              box-shadow: -2px 1px 9px 3px #80808040;
              margin-right: -50px;
          }

          .text{

              width: 25em;
              margin-top: 80px;
              margin-left: 100px;
              position:absolute;
              font-family: sans-serif;
              float: left;
          }

          h1{
              font-size: 2.5em;
              font-weight: 800;
          }

          p{
              color: #b7b7b7;
              font-size: 1em;
          }

          .fancy-border{
              border-radius:31% 69% 0% 100% / 24% 0% 100% 76% ;
              width: 206px;
              height: 610px;
              background-color: #8080801a;
              float: right;
              position: sticky;
          }

          .fancy-border2{
              margin-top: 19em;
              border-radius: 70% 57% 43% / 68% 26% 74% 32%;
              width: 22px;
              height: 23px;
              background-color: gold;
              animation: rotate 2s infinite;
              right: 15%;
              position: absolute;}

              @keyframes rotate {
                  0%{transform: rotateZ(
                      360deg
                      );

                  }
                  100%{

                  }

              }

              .fancy-border3{
                  margin-top: 19em;
                  border-radius: 70% 57% 43% / 68% 26% 74% 32%;
                  width: 22px;
                  height: 23px;
                  background-color:black;
                  animation: blink 2s infinite;
                  right: 9%;
                    bottom: 27%;
                  position: absolute;}

                  @keyframes blink {
                      0%{
                          transform: scale3d(1.5, 1.5, 2); }
                      100%{

                      }

                  }

                  .fancy-border4{
                    bottom: 97%;
                    margin-top: 19em;
                    border-radius: 70% 57% 43% / 68% 26% 74% 32%;
                    width: 33px;
                    height: 28px;
                    background-color: green;
                    animation: blink 2s infinite;
                    position: absolute;
                    left: 40%;
                }
                }

